<%= form_for [@group, @task] do |f| %>
  <%= render 'shared/errors', object: @task %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true %>
      </li>
      <li class="required">
        <%= f.label :due_date %>
        <%= f.text_field :due_date %>
      </li>
      <li class="required">
        <%= f.label :description %>
        <%= f.text_area :description, cols: 40, rows: 7 %>
      </li>
    </ol>

    <p>
      <% if @task.new_record? %>
        <%= f.submit "Create" %>
      <% else %>
        <%= f.submit "Update" %>
      <% end %>
      <%= link_to "Cancel", group_tasks_path(@group), class: 'submit-button' %>
    </p>    
  </fieldset>
<% end %>