<%= form_for(@group) do |f| %>
  <%= render 'shared/errors', object: @group %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true %>
      </li>
    </ol>
    <p>
      <% if @group.new_record? %>
        <%= f.submit "Create" %>
      <% else %>
        <%= f.submit "Update" %>
      <% end %>
      <%= link_to "Cancel", session[:previous_url], class: 'submit-button' %>
    </p>
  </fieldset>
<% end %>