<!DOCTYPE html>
<html>
<head>
  <title>Get-er-Done</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
	  $(function() {
	    $("#task_due_date").datepicker({ dateFormat: 'dd-mm-yy' });
	  });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div id="wrapper">
	<%= render 'layouts/flashes' %>
	
	<div id="container">
	<% if request.fullpath.include?("/calendar") || !current_user %>
		<section id="content-calendar">
			<%= yield %>
		</section>
	<% else %>
		<section id="sidebar">
			<%= render 'layouts/sidebar' %>
		</section>
		<section id="content">
			<%= yield %>
		</section>
	<% end %>
	</div>
</div>

</body>
</html>
